.contenido {
    display: flex;
    justify-content: space-between;
}

.columna1,
.columna2,
.columna3 {
    width: 32%;
    background-color: #f5c7c7;
    padding: 5px;
   margin: 15px;
}   

#titulo{
    color: rgb(0, 0, 0);
    text-align:justify
    
}

#fondo {
    background-color: lightblue;
    padding: 12px;
    text-align: justify;
     border: 2px solid rgba(0, 0, 0, 0.1);
     border-radius: 5px;
        opacity: 0.8;
}

#footer {
    background-color: rgb(186, 132, 176);
    padding: 12px;
    text-align: justify;
}

